bidict==0.23.1
blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
decorator==5.1.1
dnspython==2.6.1
eventlet==0.37.0
Flask==3.0.3
Flask-SocketIO==5.3.7
future==1.0.0
geocoder==1.38.1
greenlet==3.1.1
h11==0.14.0
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packaging==24.1
pillow==12.2.0
pluggy==1.5.0
psutil==6.0.0
pysimplegui==4.60.5.1
pytest==8.3.3
python-engineio==4.9.1
python-socketio==5.11.4
ratelim==0.1.6
refuse==0.0.4
requests==2.32.3
setuptools==82.0.1
simple-websocket==1.0.0
six==1.16.0
urllib3==2.2.3
Werkzeug==3.0.4
wheel==0.47.0
wsproto==1.2.0
